/*--------------Menu----------------------*/ 


nav {
  background: #fff;
  display: grid;
  padding: 0 20px;
  grid-template-columns: auto 1fr;
  div{
    display: flex;
    flex-direction: column;
  }
  img {
    width: 70px;
    display: inline-block;
    object-fit: contain;
    object-position: center;
  }
  ul {
    list-style: none;
    text-align: end;
  }

  li { 
    display: inline-block; 
    margin: 10px;
    padding: 10px;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

body {
  background-color: red;
}